<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Management system</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@700&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
 
body{
    
    background: url('low-poly-grid-haikei.svg') no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
    
}
.loginicon{
    width: 600px;
    height: 500px;
    display: block;
    position: absolute;
    top: 80px;
    opacity: 0.8;
}
.icon{
    width: 600px;
    top: 100px;
    position: absolute;
    margin-left: 150px;
    filter: drop-shadow(-6px -2px 2px black);
    

}
.iconbg{
    /* box-shadow: inset 2px 2px 12px black; */
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.788);
    position: absolute;
    margin-left: 200px;
    top: 100px;
    border-radius: 100%;

}
.button{
    cursor: pointer;
    padding: 10px 22px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    background: #1cf757;
    background-color: -internal-light-dark(white, white);
    border: 1px #41e06c solid;
}

.heading{
    color: white;
    text-align: center;
    place-self: center;
    position:relative;
    /* max-width: 400px; */
    top: 0;
    /* transform: translate(00px,00px); */
    transition: 3s;
    opacity: 1;
    transform: translateY(20px);
    font-family: 'Fira Sans Condensed', sans-serif;
    
}

.heading h1{
    text-shadow: 2px 2px 2px black;
    font-size: 30px;
    max-width: 500px;
    line-height: 1em;
}
.welcomeback{
    color: white;
    position: absolute;
    margin-top: 150px;
    margin-left: 100px;
    text-shadow: 2px 2px 2px #0F2027;
}

.chat{
    right: 0px;
    position: absolute;
    width: 500px;
    top: 0px;
    height: 100vh;
    min-height: 650px;
    font-family: 'Rubik', sans-serif;
    background-color: rgba(255, 255, 255, 1);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-left: 10px solid #0F2027 ;
    /* background-image: linear-gradient(to left, rgb(56, 56, 56), rgb(218, 213, 213)); */

}

.chat form{
    margin-top: 200px;
    left: 50px;
    position: relative;
}
.chat form h2{
    place-self: center;
    position: relative;
    font-size: 40px;
    /* text-align: center; */
    
}

.formgroup{
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
}

.formgroup input{
    margin-left: 5px;
    height:30px;
    /* box-sizing: border-box; */
    border: 1px solid;
    border-radius: 6px;
    font-size: 19px;
    padding: 12px 29px;
    width:50%;
    background-color: rgba(255, 255, 255, 0.712);
    /* outline: none; */
}
.formgroup input:focus{
    /* outline-color: rgb(0, 183, 255); */
    outline-color:green;
    outline-style: auto;
    border: 4px blue;
}
.noaccount{
    margin-left: 10px;
    font-size: 20px;
}
.noaccount a{
    color: green;
    font-weight: 600;
    font-size: 20px;
    text-decoration: underline;
}
.l-alert{
    color:orangered;
    padding-left: 10px;
}
.e-alert{
    color:red;
    padding-left: 10px;
}
.s-alert{
    color:green;
    padding-left: 10px;
    font-size: 18px;
    padding-bottom: 7px;
}

@media(max-width:1150px){
    .body{
        display: flex;
        flex-direction: column-reverse;
        overflow-x: hidden;

        
    }
    .heading{
        place-self: center;
        left: 0;
        text-align: center;
        transition: 1s;
    }
    .chat{
        top: 100px;
        position: relative;
        right: 0;
        text-align: center;
        justify-content: center;
        place-self: center;
        left: 0px;
        min-height: fit-content;
        height: fit-content;
        padding-bottom: 50px;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 0%;
        border-top-right-radius: 50%;
        border-top: 10px solid #0F2027 ;
        border-left: 0px;
    }
    .chat form{
        position: relative;
        margin-top: 0px;
        
    }
    .chat form h2{
      margin-right: 100px;
    }
    .loginbottom{
      margin-left: 50px;
    }
    .formgroup{
      margin-right: 100px;
    }
    .loginicon{
        margin-left: 20px;
        position: relative;
        place-self: center;
        display:none;
    }
    .icon{
        top: 0;
        position: relative;
        margin-left: 0;
        display: none;
    }
    .iconbg{
        top: 0%;
        /* position: relative; */
        margin-left: 50px;
        place-self: center;
    }

    .welcomeback{
        position: relative;
        margin-top: 20px;
        margin-left: 0px;
        place-self: center;
        text-align: center;
    }

}


@media(max-width:500px){
    body{
        overflow-x: hidden;
        
    }
    .heading h1{
        font-size: 28px;
        max-width: 300px;
    }
    .heading h4{
        font-size: 15px;
        max-width: 380px;
        place-self: center;
    }
    .chat{
        max-width: 300px;
        font-size: 12px;
    }
    .chat form h2{
      font-size: 30px;
    }
    .welcomeback{
        font-size: 15px;
        max-width: 300px;
        text-align: center;
    }
    .formgroup{
        font-size: 15px;

    }
    .formgroup input{
        font-size: 12px;
        height:18px;
        width:70%;
    }
    .noaccount{
      margin-left: 10px;
      font-size: 15px;
    }
    .noaccount a{
      font-size: 15px;
          
    }
    .loginbottom{
      margin-left: -15px;
    }
    .loginicon{
        transform: scale(0.6);
        top: 0;
        
    }
}
</style>
<body class="body active">
    <div class="loginicon">
      <div class="iconbg"></div>
      <img class="icon" src="/cherry-667.png" alt="">
    </div>
        
        
        <div class="chat">
            
        <form action="/login" method="POST">
          <h2><i class="fa fa-sign-in"> Login</i></h2>  
          <%- include ("./partials/messages"); %>
        <div class="formgroup">
          
          <input
            type="email"
            id="email"
            name="email"
            class="formcontrol"
            placeholder="Enter Email"
          />
        </div>
        <div class="formgroup">
          
          <input
            type="password"
            id="password"
            name="password"
            class="formcontrol"
            placeholder="Enter Password"
          />
        </div>
        <div  class="loginbottom" style="display: flex;align-items: baseline;">
            <button type="submit" class="button">Login</button>
            <p class="noaccount">
            No Account? <a href="/register">Register</a>
          </p></div>
        
        
      </form>              
        </div>
        <div class="welcomeback">
          <h1>WELCOME BACK, LEARNER!</h1>
        </div>
        <div class="heading">
            <h1>Learning Management System</h1>
        </div>
</body>
</html>




