<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Management system</title>
    <link rel="stylesheet" type="text/css" href="/landing.css">
</head>
<body class="body active">
    
        <div class="heading">
            <h1>Learning Management System</h1>
            <h4>Find courses to learn and keep improving</h4>
        </div>
        <div class="kidicon">
            <div class="iconbg"></div>
            
        </div>
        
        <div class="chat">
            <img class="chaticon" src="clip-1709.png" alt="">
            <ul>
                <li id="dots"><div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </li>
                <li id="one">Hello learner !</li>
                <li id="two">Wanna <a id="login" href="/login">Login</a>? </li>
                <li id="three">If you don't have an account already...</li>
                <li id="four">You can <a id="reg" href="/register"> Register</a> here ! </li>
                <li id="five">(response)</li>
            </ul>
        </div>
    <script src="/main.js"></script>
</body>
</html>




