*{
    box-sizing: border-box;
    margin :0;
    padding: 0;
    font-family: 'poppins';  
 }
body{
    background-image: linear-gradient( 180.3deg,  rgba(214,224,255,1) 37.2%, rgba(254,168,168,1) 137.3% );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:100vh;  
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: #ff3152;
    border-radius: 4px;
}

img{
    padding-left:40%;
}
.text{
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 500;
}

.container{
     color: black;
     max-width: 550px;
     box-shadow: rgba(121, 119, 119, 0.8) 0px 1px 13px 2px;
     opacity: 4;
     margin: 150px auto; 
     background: rgba(255,255,255,0.6);
     border-radius: 25px
}
.sub{
    padding:30px 60px;
}
.form input{
    font-size: 16px;
    height: 40px;
    width: 100%;
    border-style: none;
    outline: none;
    padding: 12px 29px;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-top: 5px;
}

  
  input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 14px;
    left: 20px;
    font-size: 15px;
    color: rgb(0, 0, 0);
  }
  
  .button-wrap {
    position: relative;
  }
  
  .new-button {
      display: inline-block;
      padding: 8px 12px; 
      margin: 8px 19px;
      cursor: pointer;
      border-radius: 4px;
      background-color:rgb(175, 219, 175);
      font-size: 16px;
      color: #fff;
  }
.btn {
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 5px 15px;
    background:#ff3152;
    width: 50%;
    height: 40px;
    margin: 0px 25%;
    border-radius: 15px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    margin-bottom: 10px;
}
label{
    font-size: 20px;
    padding-left: 10px;

}
.foot{
    font-size: 18px;
    text-align: center;
}
.foot a{
    text-decoration: none;
    color: #ff3152;
    font-weight: 500;
    font-size: 22px;
}
.l-alert{
    color:orangered;
    padding-left: 10px;
}
.e-alert{
    color:red;
    padding-left: 10px;
}
.s-alert{
    color:green;
    padding-left: 10px;
    font-size: 18px;
    padding-bottom: 7px;
}